/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

#gallery-loader {
  display: none; /* respect [hidden] by default */
}
#gallery-loader:not([hidden]) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

#gallery-loader .loader-inner > div {
  background-color: #333 !important;
}

#gallery-loader .loader-inner.ball-pulse > div {
  width: 12px !important;
  height: 12px !important;
  margin: 3px !important;
}
